.img-thumbnail{
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 30px solid #000;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.jumbotron{
  padding: 10px 20px;
}


li{
  list-style: none;
}

.row{
  margin: 5px 15px;
}
