body{
  font-family: 'Source Sans Pro', serif;
}

.img-thumbnail{
  display: inline-block;
  max-width: 300px;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  float:left;
  margin-right: 25px;
}

.jumbotron{
  padding: 10px 20px;
  border: 5px solid #000;
}

.jumbotron h1{
  font-family: 'Source Sans Pro', cursive;
}

h1.background{
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

h2.background{
  font-size: 1.4em;
  color: #387727;
}

h3.background{
  font-size: 1em;
  color: #25a801;
  margin-top: -5px;
}

.panel-heading h2{
  font-size: 2em;
  font-family: 'Bungee', sans-serif;
  margin-top: 10px;
}

.background#enroll{
  font-size: 1.5em;
  margin-bottom: 20px;
}
li{
  list-style: none;
}

.row{
  margin: 5px 40px;
}

.list-group#hobby{
  font-size: 1.5em;
  text-align: center;
}

.panel-success{
  margin-left: -15px;
}

.panel-warning{
  margin-right: -15px;
}
